.menu {
    display: flex;
    background-color: rgb(253, 228, 196);
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-left: 25px;
}

.navbar a:hover {
    color: crimson;
}